<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head_common">
    <meta charset="UTF-8">
    <title>Restaurant App</title>
    <link rel="stylesheet" href="\css\style.css">
</head>
<body>

<div th:fragment="main_layout(content)" class="grid-container">

    <nav class="sidebar">
        <h2>🍽️ Restaurant</h2>
        <hr style="border-color: #7f8c8d; margin: 15px 0;">

        <a href="/dashboard">📊 Dashboard</a>
        <a href="/menu">🍔 Meniu</a>
        <a href="/reservations">📅 Rezervări</a>
        <a href="/tables">🪑 Mese</a>
        <a href="/employees">👨‍🍳 Angajați</a>
    </nav>

    <header class="header">
        <span>Bine ai venit, Admin! &nbsp;</span>
        <a href="/logout" style="color: red; text-decoration: none; font-weight: bold;">Logout</a>
    </header>

    <main class="main-content">
        <div th:replace="${content}"></div>

    </main>

</div>

</body>
</html>