<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Meniu - Momentum</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body class="dark-theme">

<nav class="top-nav" style="position: relative; background: transparent;">
    <div class="logo-container" style="display: flex; align-items: center;">
        <img th:src="@{/images/Logo.svg}" alt="Logo" style="height: 40px; margin-right: 15px;filter: brightness(0) invert(1);">
        <h2 style="color: white;">Momentum</h2>
    </div>
    <a href="/" style="color: white; text-decoration: none;">&larr; Back</a>
</nav>


    <div class="menu-header">
        <h1 class="menu-title">Our Menu</h1>

        <form action="/menu" method="get" class="search-box">
            <input type="text" name="keyword" th:value="${keyword}" placeholder="Search for a delicious product...">
            <button type="submit">Search</button>
        </form>
    </div>

    <div class="products-grid">

        <div th:if="${(menuMap == null || menuMap.empty) and keyword != null and keyword != ''}"
             style="width: 100%; text-align: center; color: gray; margin-top: 20px;">

            <p>No products found for "[[${keyword}]]".</p>
            <a href="/menu" style="color: #e67e22;">See full menu</a>

        </div>

        <div class="menu-list-container">

            <div th:each="entry : ${menuMap}" class="menu-category-section">

                <h2 class="category-title" th:text="${entry.key}">Name of Category</h2>

                <div th:each="produs : ${entry.value}" class="menu-item-row">

                    <div class="item-details">
                        <div class="item-header">
                            <h3 class="item-name" th:text="${produs.productName}">Name</h3>
                            <span class="dots"></span>
                        </div>
                        <p class="item-desc" th:text="${produs.description}">Description</p>
                        <p class="item-ingr">Ingredients: <i th:text="${produs.ingredients}">...</i></p>
                    </div>

                    <div class="item-price">
                        <span th:text="${produs.price} + ' RON'">00 RON</span>
                    </div>

                </div>
            </div>



        </div>

    </div>


</body>
</html>